@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Monoton&family=Playfair+Display&family=Water+Brush&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  

}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px; /*Tamaño del header, para que cuando navego mediante el nav no se superponga header a las secciones*/
}
:root{
    --backprin-:antiquewhite;
    --backnav-:white;
    /* --fuente-:font-family: 'Monoton', cursive; */

}
body{
  font-family: sans-serif;
  width: 100vw;
  max-width: 100%;
  text-decoration: none;
  list-style: none;
}
.section-container{
  position: sticky;
  top: 0%;
  z-index: 9999;
  
}
.container-logo img{
 width: 100px;
}
.navbar-list{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 100px;
  right: calc(0vw);
  background-color: white;
  width: 100%;
  gap: 5px;
  
  display: none;
}
.navbar-list a{

  color: red;
  font-size: 30px;
  
  
}
.navbar input{
  display: none;
}
.header i{
  font-size: 30px;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
  /* z-index: 9999; */
  /* position: fixed; */
  background-color: white;
  
}
#toggle-menu:checked~.navbar-list{
  display: block;
  display: flex;
  animation: header 1.5s;
  
  
}

.header :nth-child(2){
  order: -1;
}
@keyframes header{
  from{
    left: -500px;
  }
  to{
    left:0px;
  }
}
.nosotros{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem; 
  margin: 1.5rem;
  /* background-color: aqua; */
}
.nosotros p{
  /* margin: 0rem 3rem; */
}
.section-productos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin: 0 auto; */
  /* background-color: aqua; */
  max-width: 100%;
  gap: 2rem;
  margin-top: 1rem;
}
.container-productos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.productos img{
  max-width: 250px;
}
.productos{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1);
  width: 250px;
  padding: 1rem ;

}
.productos p{
  order: -1;
}
.btn-anadir{
  background-color: darkorange;
  color: cornsilk;
  font-size: 1.2rem;
  padding: 0.8rem 4rem;
  border-radius: 2rem;
}
.whatsapp{
  font-size: 3rem;
  position: fixed;
  right: 5px;
  bottom: 10px;
/* background-color: green; */
  animation: shakeY; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 10s; 
  /* color: blue; */
  animation-iteration-count: infinite;
}
.contactos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2 rem;
  /* background-color: aqua; */
}
.input{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:flex-start;
  /* background-color: aqua; */
  width: 250px;
  gap: 0.5rem;
  padding: 0.5rem;
}
.input input{
  width: 250px;
  border-radius: 5px;
  height: 30px;
}
.consulta textarea{
  width: 250px;
  min-height: 100px;
}
footer{
  background-color: gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 80px; */
  width: 100%;
  gap: 1rem;
}
.redes{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: aqua; */
  width: 20%;
  font-size: 200%;

}
footer p{
  font-size: 10px;
}